body {
  display: grid;
  height: 100vh;
  margin: 0px;
  background: #44403c;
  font-family: 'Roboto', sans-serif;
}

.link {
  list-style: none;
}

#container {
  place-self: center;
  height: 800px;
  width: 1200px;
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar content"
}

#header {
  grid-area: header;
  background: #e7e5e4;
}

#sidebar {
  grid-area: sidebar;
  background: #a8a29e;
}

#sidebar > ul {
  padding: 0px;
}
#sidebar > * {
  display: grid;
  grid-template: 1fr / 60px 1fr;
  align-items: center;
  margin-bottom: 30px;
}

#sidebar > #home > img {
  justify-self: center;
  width: 40px;
  height: 40px;
}

#sidebar > ul > li {
  margin: 10px 0px;
}

#sidebar > ul > img {
  justify-self: center;
  width: 25px;
  height: 25px;
}

#main-content {
  grid-area: content;
  background: #fafaf9;
}