body {
  display: grid;
  height: 100vh;
  margin: 0px;
  background: #44403c;
  font-family: 'Roboto', sans-serif;
}

.link {
  list-style: none;
}

#container {
  place-self: center;
  height: 877px;
  width: 1233px;
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar content"
}

#header {
  grid-area: header;
  background: #fafaf9;
  display: grid;
  grid-template: 1fr 1fr / 1fr; 
  padding: 10px 60px 10px 30px;
  font-weight: 600;
}

#headerupper {
  display: grid;
  grid-template: 1fr / 20px 1fr 20px 54px 120px;
  gap: 20px;
  align-items: center;
}

#headerupper > div {
  font-size: 1.2rem;
}

#headerlower {
  display: grid;
  grid-template: 1fr / 54px 1fr repeat(3, 80px);
  gap: 20px;
  align-items: center;
}

#headerlower .button {
  background: #34d399;
  height: 36px;
  border-radius: 18px;
  display: grid;
  place-items: center;
  font-size: 0.8rem;
  color: #fafaf9;
}

#welcome {
  display: grid;
  grid-template: 0.8rem 1fr / 1fr;
  gap: 0.5rem;
}

#welcome #welcomeupper {
  font-size: 0.8rem;
}

#welcome #welcomelower {
  font-size: 1.5rem;
}

#sidebar {
  grid-area: sidebar;
  background: #34d399;
  color: #fafaf9;
}

#sidebar > ul {
  padding: 0px;
}

#sidebar > * {
  display: grid;
  grid-template: 1fr / 60px 1fr;
  align-items: center;
  margin-bottom: 30px;
}

#sidebar img {
  filter: invert(100%);
}

#sidebar > #home > img {
  justify-self: center;
  width: 36px;
  height: 36px;
}

#sidebar > ul > li {
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

#main-content {
  grid-area: content;
  background: #e7e5e4;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  grid-template-areas:
  "projects announcements"
  "projects trending";
  gap: 20px;
  padding: 20px 20px 60px 20px;
}

#main-content > div {
  display: grid;
  grid-template: auto 1fr / 1fr;
}

#main-content > #projects {
  grid-area: projects;
}

#main-content > #announcements {
  grid-area: announcements;
}

#main-content > #trending {
  grid-area: trending;
}

#main-content #projectscontainer {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  gap: 20px;
}

#main-content div.content {
  background: #fafaf9;
  border-radius: 10px;
}

h1 {
  font-size: 1.2em;
}

img.icon {
  justify-self: center;
  width: 20px;
  height: 20px;
}

img.smallavi {
  justify-self: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
}

img.largeavi {
  justify-self: center;
  width: 54px;
  height: 54px;
  border-radius: 27px;
}

#searchbar {
  width: calc(100% - 60px);
  height: 30px;
  margin-right: 60px;
  background: #e7e5e4;
  border-radius: 15px;
}

.shadow {
  box-shadow: 0px 6px 4px -4px #a8a29e;
  z-index: 1;
}